include *.txt
include *.md
include *.pkl
recursive-include ./parametric_model/*
recursive-exclude ./jupyter_notebooks/*

include parametric_model/data/rc_test_data.csv
include parametric_model/VERSION
include parametric_model/config.yml

include requirements/requirements.txt
include requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]